doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        block overlay
        block content
        script(src ="/webgl-globe-master/globe/third-party/Detector.js")
        script(src ="/webgl-globe-master/globe/third-party/three.min.js")
        script(src ="/webgl-globe-master/globe/third-party/Tween.js")
        script(src ="/webgl-globe-master/globe/globe.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script.
            var count = 0
            var host = 'ec2-18-219-199-19.us-east-2.compute.amazonaws.com';
            var socket = io(host+':8080');
            socket.on('tweet', function (data) {
                $("#tweetCount").html(" Tweets: " + count++);
                addData(data);
                readTweet(data);
            });
            var container = document.getElementById('container');
            var globe = new DAT.Globe(container);
            // Create the geometry
            globe.createPoints();
            // Begin animation
            globe.animate();
            // We're going to ask a file for the JSON data.
            function addData(data) {
                var tweet = JSON.parse(data);
                // Tell the globe about your JSON data
                globe.addData(tweet[1], {format: 'magnitude', name: tweet[0]});
                globe.createPoints();
            }
            function readTweet(data) {
                if ($("#overlay").children.length <= 10) {
                    var tweet = JSON.parse(data);
                    $("#overlay").prepend("<p class='tweet'>" + tweet[2].text + "</p>");
                    $(".tweet").delay(500).fadeOut("normal", function () {
                        $(this).remove();
                    });
                }
            }
