doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        block overlay
        block content
        script(src ="/webgl-globe-master/globe/third-party/Detector.js")
        script(src ="/webgl-globe-master/globe/third-party/three.min.js")
        script(src ="/webgl-globe-master/globe/third-party/Tween.js")
        script(src ="/webgl-globe-master/globe/globe.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script.
            var socket = io('localhost:8080');
            socket.on('tweet', function (data) {
                addData(data);
                readTweet(data);
            });
            var container = document.getElementById('container');
            var globe = new DAT.Globe(container);
            // Create the geometry
            globe.createPoints();
            // Begin animation
            globe.animate();
            // We're going to ask a file for the JSON data.
            function addData(data) {
                var tweets = JSON.parse(data);
                // Tell the globe about your JSON data
                if (tweets) {
                    for (var i = 0; i < tweets.length; i++) {
                        console.log(tweets);
                        globe.addData(tweets[i][1], {format: 'magnitude', name: tweets[i][1]});
                    }
                    globe.createPoints();
                    globe.animate();
                }
            }
            function readTweet(data) {
                if($("#overlay").children.length <= 5) {
                    var tweet = JSON.parse(data);
                    $("#overlay").append("<p class='tweet'>" + tweet[0][2].text + "</p>");
                    $(".tweet").delay(1000).fadeOut("normal", function () {
                        $(this).remove();
                    });
                }
            }
